.header {
    background-image: url(../images/banner-mobile.jpg);
    
    padding-bottom: 185px;
}

.header_up {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 5px 16px;
}

.logo{
  width: 269px;
  height: 61px;
  margin: 174px 0px 0px;
}

.menu-burger {
  align-self: flex-end;
}

.heading {
  font-size: 26px;
  line-height: 36px;
  margin-top: 30px;
}

.title-trends {
  font-size: 16px;
}
  
.news-headline {
  font-size: 16px;
  line-height: 20px;
}

.picture {
  width: 328px;
  height: 253px;
  background-color: #eff6f1;
}

.block-text {
  font-size: 14px;
  line-height: 20px;
}

.colomn {
  display: block;
  margin-top: 0px;
}

.title-posts {
  font-size: 16px;
}
 
.block-trend {
  width: 100%;
  min-height: 230px;
}
 
.border-block {
  padding: 18px 19px 0px 19px;
  margin: 0px 16px 19px 14px;
}
  
.news {
  margin-right: 0px;
}

.block-news {
  align-items: center;
  margin-bottom: 26px;
}
  
.block-description {
  padding-left: 0px;
  padding-right: 0px;
}

.date {
  margin-bottom: 5px;
}
  
.block-news:last-child::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin: 10px auto;
  }

.border-block {
  padding-left: 21px;
}

.side-colomn {
 max-width: 100%;
}

.field-search {
  width: 100%
}

.field {
  width: 100%;
}

.search {
  margin-bottom: 39px;
}

.subscribe {
  margin-bottom: 38px;
}

.tags-link {
  padding: 4px 12px;
}

.tags {
  margin-bottom: 29px;
}

.goods {
  margin-bottom: 20px;
}

.blocks-goods {
  flex-direction: colomn;
  gap: 27px;
}
  
.block-goods {
  width: 100%;
}
  
.block-goods:first-child {
  margin-right: 0px;
}
  
.copyright {
  margin-top: 46px;
}

@media (orientation: landscape) {
    .block-trend {
      width: calc((100% - 5px) / 2);
      min-height: 244px;
    }
  }